.track-header-bg {
  background-image: url("../../images/delivery.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
  display: grid;
  place-items: center;
  color: var(--white);
  position: relative;
}
.track-header-bg > * {
  position: relative;
  color: var(--white);
  width: 60%;
  text-align: center;
  margin: auto;
  z-index: 2;
}
.track-header-bg .headers h1 {
  font-size: var(--header-font-size);
  font-family: var(--font-family-headers);
}
.track-header-bg:after {
  position: absolute;
  content: "";
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.track-your-order {
  min-height: 50vh;
  align-items: center;
  justify-items: center;
}

.track-follow {
  text-align: center;
  color: var(--primary-color);
  padding-top: 5rem;
}

.track-follow h1 {
  font-family: var(--font-family-headers);
  text-transform: uppercase;
}

.track-your-order-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.track-content_input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 2rem 0 2rem;

  display: flex;
}
.track-content_input input {
  flex:2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family-main);
  border-radius: 5px 5px 5px 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  padding: 0 1rem;
  border-color: var(--primary-color);
}

.track-content_input button {
  flex:1;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family-headers);
  border-radius: 5px 0px 0px 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  padding: 0 1rem;
  color: var(--primary-color);

}

.track-content_track {
  align-items: center;
  justify-content: center;
}

.track-content_track img { 
  width: 700px;
  height: 700px;
}