.track-header-bg {
  background-image: url("../../images/delivery.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
  display: grid;
  place-items: center;
  color: var(--white);
  position: relative;
}
.track-header-bg > * {
  position: relative;
  color: var(--white);
  width: 60%;
  text-align: center;
  margin: auto;
  z-index: 2;
}
.track-header-bg .headers h1 {
  font-size: var(--header-font-size);
  font-family: var(--font-family-headers);
}
.track-header-bg:after {
  position: absolute;
  content: "";
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.track-content_container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  margin-block: 3rem;
}
.track-follow h1 {
  color: var(--primary-color);
}
.track-content_track {
  text-align: center;
}
.track-content_track img {
  width: 15rem;
}
.track-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  position: relative;
}

.track-input input {
  width: 100%;
  padding-block: 1rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--primary-color);
  border-radius: 1.5rem;
  padding-left: 3rem;
  outline: 1px solid var(--primary-color);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  font-family: var(--font-family-headers);
  margin-bottom: 2rem;
  transition: 0.5s;
}
.track-input input:hover {
  box-shadow: 0 0 15px var(--primary-color);
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 2.2rem;
  color: var(--primary-color);
}
