.menu-header-bg {
  background-image: url("../../images/home-dish-main.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
  display: grid;
  place-items: center;
  color: var(--white);
}
.menu-header-bg .headers {
  width: 60%;
  text-align: center;
  margin: auto;
}
.menu-header-bg .headers h1 {
  font-size: var(--header-font-size);
  font-family: var(--font-family-headers);
}
.menu-header-bg .headers h4 {
  font-size: 1rem;
  font-weight: 600;
}
.menu .categories {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--inline-padding-body);
  align-items: center;
  width: 80%;
  margin: auto;
  padding-block: 1rem;
}
.menu .menu-title {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 700;
  font-family: var(--font-family-headers);
}
.select-category button {
  border: none;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: var(--font-family-headers);
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: 1px solid var(--primary-color);
}
.select-category {
  display: flex;
  gap: 1rem;
}

/* menu items */
.menu-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding-inline: var(--inline-padding-body);
  padding-bottom: 2rem;
}
.menu-items .item-container img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem;
}
.menu-items .item-container {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  border-radius: 1rem;
}
/* menu item props styling */
.menu-items .item-container .dish-name,
.menu-items .item-container .dish-price {
  display: block;
}
.menu-items .item-container .dish-name {
  text-align: center;
  margin-block: 0.25rem;
  font-weight: 500;
}
.menu-items .item-container .dish-price button {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--primary-color);
  border: none;
  margin-block: 0.5rem;
  font-size: 1rem;
  color: var(--white);
  font-family: var(--font-family-main);
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .menu-items {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .menu-items {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .menu-items .item-container img {
    border-radius: 1rem;
  }
  .menu-header-bg .headers h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .menu-header-bg .headers h1 {
    font-size: 2rem;
  }
}
