/* navbar styles */
.cinder__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--inline-padding-body);
}
.cinder__logo img {
  width: var(--logo-size-desktop);
}
.cinder__navbar .cinder__navbar-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.cinder__navbar .cinder__navbar-links li {
  list-style: none;
}

.cinder__navbar .cinder__navbar-links .paths {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.1rem;
}
.cinder__navbar .cinder__navbar-links .cart {
  position: relative;
  cursor: pointer;
}
.cinder__navbar .cinder__navbar-links .quantity {
  position: absolute;
  top: -5px;
  color: var(--primary-color);
  font-weight: 600;
}
