/* font families */
@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

/* global variables */
:root {
  --primary-color: #ed7014;
  --main-text-color: #080402;
  --white: #ffffff;
  --bg-color: #fbfcfa;
  --logo-size-desktop: 4rem;
  --logo-size-mobile: 2rem;
  --header-font-size: 4.5rem;
  --sub-header-font-size: 2rem;
  --standard-text-font: 1rem;
  --inline-padding-body: 10%;
  --font-family-main: "Montserrat", sans-serif;
  --font-family-headers: "Volkhov", sans-serif;
}
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body {
  font-family: var(--font-family-main);
  background-color: var(--bg-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}
